td
{
    height: 50px;
    width: 50px;
}

#cssTable td
{
    text-align: center;
    vertical-align: middle;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
